th{
	background-color: #7D7D7D;
	color: #3333AD;
	font-size: 30px;
	font-family: 'Indie Flower', cursive;
}


.table-small{
	width: 70px;
	text-align: center;
}
.club{
	text-align: center;
	font-weight: bold;
}
.generic-table{
	background-color:#99C2FF;
	font-size: 20px;
	font-family: 'Indie Flower', cursive;
}
#primero, #segundo, #tercero, #cuarto, #quinto, #sexto, #septimo, #octavo{
	background-color: #80B2FF;
}
#title{
	font-family: 'Kaushan Script', cursive;
}
.img-thumbnail:hover{
	-webkit-transform: scale(1.1);
	   -moz-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	     -o-transform: scale(1.1);
	        transform: scale(1.1);
}
